html {
  background-image: linear-gradient(
    to top,
    #5ab1b1,
    #6bb7d0,
    #93b9e2,
    #bebae5,
    #e1bcdd
  );
  min-height: 100%;
}
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Berkshire Swash', cursive;
  margin: 40px;
  text-align: center;
}
.div-workout {
  background-color: rgba(221, 210, 214, 0.4);
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 55px;
  margin-top: 55px;
  opacity: 0;
  padding: 35px;
  position: relative;
  transition: visibility 0s, opacity 0.5s linear;
  visibility: hidden;
  width: 65vw;
}

.flex {
  display: flex;
  flex-direction: column;
}

.justify-content {
  justify-content: center;
}

.form-container {
  background: rgba(173, 165, 165, 0.6);
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 25px;
  width: 30vw;
}

input[type='text'],
input[type='email'],
select {
  background-color: rgba(182, 189, 198, 0.5);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: #003051;
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 8px;
  width: 100%;
}

input[type='text'],
input[type='email'] {
  outline: none;
}

#submit {
  background-color: #8a5866;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 15px;
  padding: 12px 20px;
  transition: 0.5s;
}

#submit:hover {
  background-color: #986b77;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.buttons-choose {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 55px;
  opacity: 0;
  padding: 20px;
  transition: visibility 0s, opacity 0.5s linear;
  visibility: hidden;
  width: 30vw;
}

.btn {
  border: none;
  border-radius: 5px;
  box-shadow: 0 10px 6px -6px #777;
  color: #d3d4d5;
  cursor: pointer;
  padding: 25px 30px;
  transition: 0.5s;
}

.visible {
  opacity: 1;
  visibility: visible;
}

/* from css-tricks.com */
.effect1 {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

/* Button styles */
#btn-upper {
  background-color: #446c91;
}

#btn-lower {
  background-color: #1b496b;
}

#btn-abs {
  background-color: #003a5b;
}

#btn-upper:hover {
  background-color: #9473aa;
  transition: 0.5s;
}
#btn-lower:hover {
  background-color: #955b8e;
  transition: 0.5s;
}

#btn-abs:hover {
  background-color: #92436e;
  transition: 0.5s;
}

#hide-div {
  background-color: #a16565;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 8px;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s;
}

#hide-div:hover {
  background-color: #003a5b;
  transition: 0.5s;
}

/* table styles */
table {
  border-collapse: collapse;
}

td {
  border-bottom: 1px #8a5866 solid;
  padding: 15px;
  text-align: center;
}

tbody tr:hover {
  background-color: rgba(159, 172, 189, 0.5);
  transition: 0.5s;
}

thead {
  font-size: 1.3em;
  font-weight: bold;
  padding: 20px;
}
thead td:nth-child(1) {
  text-align: center;
}
tbody td:nth-child(1) {
  font-size: 1.15em;
}
